<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>BUI</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/bui.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- 依赖库 手机调试的js引用顺序如下 -->
    <script src="../../commons/angularJs/angular.min.js"></script>
    <script src="../../public/js/zepto.js"></script>
    <script src="../../public/js/cordova.js"></script>
    <script src="../../public/js/bingotouch.js"></script>
    <script src="../../public/js/plugins/fastclick.js"></script>
    <!-- BUI库 -->
    <script src="../../public/js/bui.js"></script>
    <script src="../../public/js/app/_config.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="httCtrl">
    <div class="bui-page">
        <header class="bui-bar">
            <div class="bui-bar-left">
                <!-- 左边按钮 -->
                <!--<a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>-->
                <a class="bui-btn" onclick="back();"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">课程详情</div>
            <div class="bui-bar-right">
                <!-- 右边按钮 -->
            </div>
        </header>
        <main>
            <!-- 正文内容 -->
            <img src="../../public/images/logo.png" alt="图片区域" class="bui-box-center" />

            <h3 class="section-title">课程简介</h3>
            <div class="bui-list">
                <form name="myForm">
                <div class="bui-btn bui-box">
                    <div class="bui-label">课程名称</div>
                    <div class="span1">
                        <input id="courseName" type="text" ng-model="courseName" class="bui-input">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师名称</div>
                    <div class="span1">
                        <input id="teacherName" type="text" ng-model="teacherName" class="bui-input">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">部门</div>
                    <div class="span1">
                        <input id="departmentName" type="text" ng-model="departmentName" class="bui-input">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师电话</div>
                    <div class="span1">
                        <input id="phone" type="text" ng-model="phone" class="bui-input">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师邮箱</div>
                    <div class="span1">
                        <input id="email" type="text" ng-model="email" class="bui-input">
                    </div>
                </div>

                <div class="bui-btn bui-box clearactive">
                    <div class="bui-label">
                        <label>课程简介</label>
                    </div>
                    <div class="span1">
                        <textarea name="courseIntroduce" class="bui-input" id="" cols="25" rows="3" ng-model="courseIntroduce"></textarea>
                    </div>
                </div>

                <div class="bui-btn bui-box">
                    <div class="bui-label">上课时间</div>
                    <div class="span1">
                        <input type="text" ng-model="trainingTime" class="bui-input" >
                    </div>
                </div>

                <div class="bui-btn bui-box">
                    <div class="bui-label">上课时长</div>
                    <div class="span1"><input id="trainingLast" type="text" ng-model="trainingLast" class="bui-input">
                    </div>
                </div>

                <div class="bui-btn bui-box">
                    <div class="bui-label">上课地点</div>
                    <div class="span1">
                        <input id="trainingPlace" type="text" ng-model="trainingPlace" class="bui-input" >
                    </div>
                </div>
                </form>
            </div>
            <div id="role">
                <div class="bui-btn primary bui-box-center" ng-hide="!myForm.$dirty" ng-click="onMan()">修改课程</div>
            </div>
        </main>

    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('httCtrl', function($scope,$http) {
        //修改了
        $http.get("/course/query_course").then(function (response) {
            $scope.courseId = response.data.courseId;
            $scope.courseName = response.data.courseName;
            $scope.teacherName = response.data.teacherName;
            $scope.departmentName = response.data.departmentName;
            $scope.phone = response.data.phone;
            $scope.email = response.data.email;
            $scope.courseIntroduce = response.data.courseIntroduce;
            $scope.trainingTime =response.data.trainingTime;
            $scope.trainingLast = response.data.trainingLast;
            $scope.trainingPlace= response.data.trainingPlace;
        });
        $scope.onSign=function(){
            $http.get("/course/course_enroll", {
                params: {
                    "courseName": $scope.courseName
                }}).then(function (response){
                $scope.status=response.data.status
            });
            window.location='/baomingSuccess.html';
        }

        $scope.onMan=function () {
            if ($scope.courseName==null){
                bui.alert("请输入课程名称");
            }else if ($scope.trainingTime==null){
                bui.alert("请输入课程日期");
            }else {
                $http.get("course/update_course",{
                    params:{
                        "courseJson":{
                            "courseId":$scope.courseId,
                            "courseName":$scope.courseName,
                            "lecturerId":$scope.teacherName,
                            "departmentName":$scope.departmentName,
                            "trainingTime":$scope.trainingTime,
                            "trainLast":$scope.trainingLast,
                            "trainingPlace":$scope.trainingPlace,
                            "courseIntroduction":$scope.courseIntroduce
                        }
                    }
                }).then(function (response) {
                    $scope.status=response.data;
                    if($scope.status==true){
                        window.location="/courseManageResult.html?result=0";
                    }else {
                        window.location="/courseManageResult.html?result=1";
                    }
                })
            }

        };

        $scope.jump = function(url) {
            window.location = url;
        }

    });


    function back() {
        window.location = "/course.html";
    }
</script>
</body>

</html>