<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>提醒</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../commons/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../commons/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../public/css/bui.css"/>
    <link rel="stylesheet" href="../../public/css/style.css"/>
    <link rel="stylesheet" href="../../public/css/remind.css"/>
    <!-- 依赖库 手机调试的js引用顺序如下 -->
    <script src="../../commons/angularJs/angular.min.js"></script>
    <script src="../../public/js/zepto.js"></script>
    <script src="../../public/js/cordova.js"></script>
    <script src="../../public/js/bingotouch.js"></script>
    <script src="../../public/js/plugins/fastclick.js"></script>
    <script src="../../commons/bootstrap/js/bootstrap.js"></script>
    <!-- BUI库 -->
    <script src="../../public/js/bui.js"></script>
    <script src="../../public/js/app/_config.js"></script>


</head>

<body>
<div ng-app="myApp" ng-controller="httCtrl">
    <div class="bui-page" ng-hide="myVar">
    <header class="bui-bar">
        <div class="bui-bar-left">
            <!--<a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>-->
        </div>
        <div class="bui-bar-main">提醒</div>
        <div class="bui-bar-right">
        </div>
    </header>
    <main id="main">

        <div class="col-xs-offset-2">
            <div class="title">
                <i class="fa fa-user"></i>
                <span class="title">讲师姓名</span>
            </div>
            <div class="from-group col-xs-10 row">
                <select id="lecturer" class="form-control ">
                    <!-- <option value="3" >王伟深</option>
                   <option value="55" selected="selected">司丽</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>-->
                </select>
            </div>

            <div class="from-group col-xs-10 row">
                <div class="title">
                    <i class="fa fa-clock-o"></i>
                    <span>提醒时间</span>
                </div>
                <div class="span1">
                    <input type="text" class="form-control " id="datepicker_input" readonly class="bui-input">
                </div>
            </div>

            <div class="from-group col-xs-10 row">
                <div class="title">
                    <i class="fa fa-book"></i>
                    <span>提醒主题</span>
                </div>
                <div class="span1">
                    <input id="subject" type="text" class="form-control ">
                </div>
            </div>


            <div class="from-group col-xs-10 row">
                <div class="title">
                    <i class="fa fa-envelope"></i>
                    <span>提醒内容</span>
                </div>
                <textarea id="content" class="form-control" rows="4"></textarea>
            </div>

            <div class="from-group ">
                <button id="submit" type="button" class="btn btn-info  col-xs-9 ">保存</button>
            </div>

        </div>


    </main>
    <footer id="foot">
        <!-- 底部内容 -->
        <ul class="bui-nav bui-fluid">
            <!--管理员 四栏-->
            <li class="bui-btn bui-box-vertical span3" ng-click="jump('course.html')" ng-hide="menu"><i class="icon-home" ></i>
                <div class="span1">课程</div>
            </li>
            <li class="bui-btn bui-box-vertical span3" ng-click="jump('addCourse.html')" ng-hide="menu"><i class="fa fa-plus" ></i>
                <div class="span1" >添加课程</div>
            </li>
            <!-- 在jump中添加需要跳转的路径-->
            <li class="bui-btn bui-box-vertical span3" ng-click="jump('remind.html')" ng-hide="menu"><i class="fa fa-clock-o" ></i>
                <div class="span1" >提醒</div>
            </li>
            <li class="bui-btn bui-box-vertical span3" ng-click="jump('adminInfo')" ng-hide="menu"><i class="fa fa-info-circle" ></i>
                <div class="span1">个人信息</div>
            </li>
        </ul>
    </footer>
</div>
</div>

<script type="text/javascript">
    //获取url中"?"符后的字串
    var url = location.search;
    var theRequest = new Object();
    if (url.indexOf("?") != -1) {
        var str = url.substr(1);

        strs = str.split("&");
        for(var i = 0; i < strs.length; i ++) {
            theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
        }
    }
    var emailId = null;
    emailId = theRequest.emailId;


    /**查询讲师*/
    $.ajax({
        url: "user_model/query_lecturer",
        type: "get",
        async : true,
        success: function (data) {
            var result = eval(data);
            for (var i = 0; i < result.length; i++) {
                var userName = result[i].userName;
                var userId = result[i].userId;
                var html = "<option id='"+userId+"' value='" + userId + "' >" + userName + "</option>";
                $("#lecturer").append(html);
            }

        },
        error: function (result, sattus) {
            console.log(sattus);
        }
    });



    var time;


    bui.ready(function (argument) {

        // 带按钮
        var input = $("#datepicker_input");
        var uiPickerdate = bui.pickerdate({
            handle: "#datepicker_input",
            // input 显示的日期格式
            // formatValue: "yyyy-MM-dd hh:mm",
            onChange: function (value) {
                input.val(value);
                time = value;
            }
            // 如果不需要按钮,设置为空
            // buttons: null
        });


        if(emailId != null) {
            $.ajax({
                url: "email/query_by_email_id",
                type: "POST",
                data: {
                    emailId: emailId
                },
                async : true,
                success : function(data){
                    console.log(data);
                    var lecturerId = data.lecturerId;
                    var time = data.time; //毫秒
                    var date = getDate(time); //将毫秒转为日期格式
                    var subject = data.subject;
                    var content = data.content;
                    $("#subject").val(subject).attr("disabled","disabled");
                    $("#content").html(content).attr("disabled","disabled");
                    var id = '#'+lecturerId;
                    $(id).attr("selected","selected");
                    $("#lecturer").attr("disabled","disabled");
                    input.val(date);
                    input.attr("disabled","disabled");
                    //移除保存按钮
                    $("#submit").remove();

                },
                error : function (data,status) {
                    console.log(status);
                }
            });
        }


        //保存
        $("#submit").click(function () {
            var userId = $("#lecturer").val();
            var content = $("#content").val();
            var subject = $("#subject").val();
            var currentTime = new Date().getTime();
            var bool = judge(time,currentTime);
            if(!bool){
                bui.alert("提醒时间不能早于现在时间！")
            }
            if(subject == null){
                bui.alert("主题为空，请填写！");
                return;
            }
            if(content == null){
                bui.alert("内容为空，请填写！");
                return;
            }
            $.ajax({
                url: "email/send_email_by_time",
                type: "POST",
                data: {
                    userId: userId,
                    time: time,
                    subject: subject,
                    content: content
                },
                timeout : 2000,
                success: function (data) {
                    var result = eval(data);
                    for (var i = 0; i < result.length; i++) {
                        var userName = result[i].userName;
                        var html = "<option>" + userName + "</option>";
                        $("#lecturer").append(html);
                    }

                },
                error: function (result, sattus) {
                    console.log(result);
                    console.log(sattus);
                    bui.alert("邮件将会在指定时间发送！");
                }
            });
        });


    });



    //底部栏控制
    var app = angular.module('myApp', []);
    app.controller('httCtrl', function($scope,$http,$filter) {

        $scope.jump = function(url) {
            window.location = url;
        }
    });


    /**判断时间*/
    function judge(time,currentTime){
        //  /-/g 是正则表达式 表示将所有短横线-替换为斜杠/ 其中g表示全局替换
        var date = time.replace(/-/g,"/");
        var newTime = new Date(date);
        var timeMills = newTime.getTime();  //转化成毫秒
        if(timeMills - currentTime <=0){
            return false;
        }else{
            return true;
        }
    }



    /**
     * 将毫秒数转为日期格式
     * @param str
     * @returns {string}
     */
    function getDate(str) {
        var oDate = new Date(str);
        var month = oDate.getMonth() + 1;
        if (month < 10) {
            month = "0" + month;  //小于10补0
        }
        var day = oDate.getDate();
        var year = oDate.getFullYear();
        var hours = oDate.getHours();
        var minutes = oDate.getMinutes();
        var seconds = oDate.getSeconds();
        var result = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        return result;
    };


</script>
</body>

</html>