.info{
	margin-top: 30px;
	text-align: center;
}

.span12 .dept{
	font-size: 13px;
}

.user{
	margin-top: 30px;
	font-size: 25px;
}


table td {
	border-spacing: 0 !important;
	border-collapse: collapse !important;
	/*margin-right: 20px;*/
	padding: 10px 10px 10px 10px !important;
	
}

/* table tr:nth-child(odd) {
	background-color: #eee;
} */

table th{
	background-color: #eee  !important;
	font-size:15px !important;

}

table  td:nth-child(even) {
	text-align: right !important;

}

table  th:nth-child(even) {
	text-align: right;
	white-space:nowrap;
}


table   td:nth-child(odd) {
	text-align: left !important;
	/*border-left:solid 1px #c3c4c6  !important;*/
	overflow:hidden  !important;
	text-overflow:ellipsis !important;
	white-space:nowrap  !important;
}

table  th:nth-child(odd) {
	text-align: left  !important;
	width: 70%  !important;

}

.fa {
	color: #5CACEE;
}


.table{
	font-size:16px !important;
	margin-top:20px !important;
	
}

table{
	padding: 10px 0 10px 10px !important;
	width: 100% !important;
	table-layout:fixed !important; /** 限制table宽度不变*/
}

td{
	overflow:hidden; /*不显示超过对象宽度的内容*/ 
    text-overflow:ellipsis;  /*当对象内文本溢出时显示省略标记（...）*/ 
    white-space:nowrap; /*限制在一行内显示所有文本*/
	border-top:solid 1px #c3c4c6 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px !important;
   
}

a:link, a:visited, a:hover, a:active {
    color:#5CACEE;
}

